li {
  list-style: none;
}

ul {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
