ul {
  display: flex;
  justify-content: space-around;
  background-color: #212121;
  color: white;
  padding: 10px;
}

li {
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
}

a.active {
  color: red;
  text-decoration: underline;
}
